.createPage{
    width: 100%;
    margin-bottom: 65vh;
}

.createPageHeader{
    display: flex;
    align-items: center;
    padding: 18px;
}

.createPageHeader p {
    font-family: "Rubik Mono One", monospace;
    font-size: 18px;
}


.createPageLoader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.createUpload{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createUploadContainer{
    width: 800px;
    margin-top: 15px;
    border-radius: 10px;
    position: relative;
    background-color: #151515;
}

.createUploadContainerHeader{
    padding: 20px;
    display: flex;
    cursor: pointer;
}

.createUploadContainerHeader:hover{
    background-color: #202020;
    border-radius: 10px;
}

.createUploadContainerHeaderLeft{
    display: flex;
    align-items: center;
    flex: 1;
}

.createUploadContainerHeaderRight{
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;
}

.createUploadContainerHeaderRightOption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.createUploadContainerHeaderRightOption i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.createUploadContainerInputs{
    display: flex;
    flex-direction: column;
}

.createUploadContainerInput{
    display: flex;
    align-items: center;
    padding: 20px;
}

.createUploadContainerInputName{
    display: flex;
    font-size: 14px;
}

.createUploadContainerInputCategory{
    display: flex;
    flex: 1;
    justify-content: right;
    
}

.createUploadContainerInputButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }
  
  .createUploadContainerInputButton input[type=checkbox]{
      height: 0;
      width: 0;
      visibility: hidden;
  }
  
  .createUploadContainerInputButton label {
      cursor: pointer;
      text-indent: -9999px;
      width: 44.44px; 
      height: 22.22px; 
      background: rgb(50, 50, 50);
      display: block;
      border-radius: 100px;
      position: relative;
  }
  
 

  .createUploadContainerInputButton label:after {
      content: '';
      position: absolute;
      top: 1.11px; 
      left: 1.11px; 
      width: 20px;  
      height: 20px; 
      background: #ffffff;
      border-radius: 90px; 
      transition: 0.3s;
  }
  
  .createUploadContainerInputButton input:checked + label {
    background-image: linear-gradient(to bottom right, #92E62A, #538009);
  }
  
  .createUploadContainerInputButton input:checked + label:after {
      left: calc(100% - 2.22px);
      transform: translateX(-100%);
      background-color: #ffffff;
  } 
  
  .createUploadContainerInputButton label:active:after {
      width: 28.89px; 
  }


  .createUploadContainerInputInner {
    width: 100%;
    height: 100%;
    border: 2px dashed #8b8b8b;
    background-color: #202020;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 20px;
    cursor: pointer;
}

.createUploadContainerInputInner:hover{
    background-color: #252525;
}

.createUploadContainerInputInnerTitle {
    font-size: 14px;
    font-weight: 500;
    color: #4F4F4F;
    margin-bottom: 20px;
}

.createUploadContainerInputInnerDrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.createUploadContainerInputInnerDropIcon {
    font-size: 30px;
    color: #fff;
    margin-bottom: 10px;
}

.createUploadContainerInputInnerDropText {
    font-size: 16px;
    font-weight: 500;
    color: #828282;
    text-align: center;
}

.createUploadContainerInputInnerDropSupport {
    font-size: 12px;
    font-weight: 400;
    color: #BDBDBD;
    margin-top: 10px;
}

.audioPlayer{
    width: 100%;
}

.createUploadContainerInputCategory {
    display: flex;
    justify-content: right;
    align-items: center;
}
  
  .createUploadContainerInputCategory label {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    cursor: pointer;
    color: #828282; 
    transition: background-color 0.2s, color 0.2s;
    margin: 0px 5px; 
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .createUploadContainerInputCategory input[type="radio"] {
    display: none; 
  }
  
  .createUploadContainerInputCategory input[type="radio"]:checked + label {
    background-color: #8023E4;
    color: #fff; 
  }

  .createUploadContainerInputCover{
    display: flex;
    flex-direction: column;
  }

  .createUploadContainerInputTitle{
    display: flex;
    flex-direction: column;
    flex: 1;
    
  }

  .createUploadContainerInputTitle span p{
    font-size: 14px;
    color: #8b8b8b;
  }

  .createUploadContainerInputImage{
    display: flex;
    flex: 1;
  }

  .createUploadContainerInputCover {
    display: flex; 
    width: 100%; 
}

.createUploadContainerInputTitle {
    margin-bottom: 10px; 
}

.createUploadContainerInputTitle span {
    font-size: 12px; 
    color: #828282; 
}

.createUploadContainerInputImage {
    width: 300px; 
    height: 300px; 
    border: 2px dashed #8b8b8b; 
    border-radius: 10px;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}


.createUploadContainerInputImage:hover {
    background-color: #252525;
}

.placeholderImage { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #828282;
    width: 300px;
    height: 300px;
}

.placeholderImage i {
    font-size: 30px;
    margin-bottom: 10px;
}

.createUploadContainerInputCover img{
    border-radius: 10px;
}

.formDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formDetailsLabel{
    padding: 10px;
    font-size: 14px;
    margin: 0px 5px;
}

.formDetailsInput{
    margin: 0px 10px;
    padding: 10px;
    outline: none;
    background-color: #202020;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 18px;
}

.formDetails textarea {
    resize: none;
    height: 100px;
}

.submitButton{
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.formDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px; 
}

.formDetailsLabel {
    padding: 10px;
    font-size: 14px;
    margin: 0px 5px;
}

.formDetailsInput {
    margin: 0px 10px;
    padding: 10px;
    outline: none;
    background-color: #202020;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    font-size: 16px;
    
}


.formDetailsRow {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adds space between fields */
}

.formDetailsRow .formDetails {
    flex: 1; /* Makes each field take up equal space */
}

.royaltySplitsContainer {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.royaltySplitsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
    width: 100%;
    
}

.addAddressInput {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97.5%;
}

.addAddressInput input {
    background-color: #202020;
    color: #fff;
    outline: none;
    width: 100%;
    font-size: 15px;
}

.royaltySplitButton {
    background-color: #ffffff; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.royaltySplitButton:hover{
    background-color: #dbdbdb;
}

.royaltySplitButton i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.royaltySplitRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #202020;
    border-radius: 10px;
    width: 95%;
    margin: auto;
}

.royaltySplitRow span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.royaltySplitRow span i{
    font-size: 14px;
}

.royaltySplitRow:last-child {
    border-bottom: none; 
}

.royaltySplitRow button{
    background-color: #303030;
    color: #ffffff;
}

.royaltySplitRow button:hover{
    background-color: #353535;
    color: #ffffff;
}

.royaltySplitAddress {
    color: #fff; 
    flex: 1; 
    margin-right: 10px; 
}

.royaltySplitSelect {
    background-color: #151515;
    color: #fff;
    padding: 8px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.percentageInput {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.royaltySplitPercentageInput {
    width: 50px;
    padding: 8px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #151515;
    color: #fff;
    outline: none;
    border: none;
}

.splitButtons {
    display: flex;
    justify-content: right;
    margin-top: 15px;
}

.splitButtons button{
    display: flex;
    margin: 0px 5px;
    padding: 7.5px 15px;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
}

.splitButtons button:hover{
    background-color: #252525;
}


.progressBar {
    width: 95%;
    height: 5px;
    background-color: #252525; 
    border-radius: 5px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: auto;
}

.progressBarFill {
    width: 50%; /* Change this to represent the current progress percentage */
    height: 100%;
    background: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.progressBarText {
    width: 95%;
    color: #fff; 
    font-size: 12px;
    margin: auto;
    margin-bottom: 5px;
}

.createUploadContainerInputLyrics {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    width: 100%; 
    margin-bottom: 20px;
}

.createUploadContainerInputLyrics .createUploadContainerInputInner {
    width: 75%;    
}

.lyricsPreview {
    padding: 10px;
    background-color: #202020; 
    border-radius: 5px;
    font-size: 14px;
    color: #fff; 
    white-space: pre-wrap;
    width: 90%;
    height: 200px;
    overflow: auto;
    margin: auto;
    margin-top: 10px;
}

.lyricsPreview::-webkit-scrollbar {
    width: 7.5px;
}

.lyricsPreview::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 10px;
}

.verificationResult{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.verificationResult p{
    font-size: 15px;
    font-weight: 500;
    background-color: #252525;
    border-radius: 10px;
    padding: 20px;
}

.verificationResult input{
    width: 20px;
    height: 20px;
}

.verificationResult .copyrightOverwrite{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.copyrightOverwrite input {
    margin-right: 10px;
    width: 30px; 
    height: 30px;
    accent-color: rgb(255, 255, 255); 
    transition: transform 0.2s ease, background-color 0.2s ease; 
}

.checkboxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyrightOverwrite input:checked {
    transform: scale(1.2); 
    background-color: rgba(255, 255, 255, 0.3); 
}

.mintPrice{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mintPriceButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    color: #101010;
    border-radius: 100px;
    margin: 0px 10px;
    cursor: pointer;
    animation: popIn90 0.15s ease;
}

.mintPriceInput{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    width: 150px;
}

.mintPriceButtons:hover{
    cursor: pointer;
    background-color: #dbdbdb;
}

.mintPriceInput[type="number"]::-webkit-outer-spin-button,
.mintPriceInput[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.mintPriceInput[type="number"] {
    -moz-appearance: textfield;
}

.mintPriceButtons i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.uploadButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.errorMessage{
    color: #ff7663;
}

.initialSelect{
    width: 95%;
    display: flex;
    margin: auto;
}

.initialSelectLeft{
    display: flex;
    flex: 1;
    align-items: center;
}



@media (max-width: 1200px) {
    .createUploadContainer{
        width: 95%;
    }

    .createUploadContainerInputName{
        font-size: 14px;

    }

    .initialSelect{
        width: 98%;
        display: flex;
        margin: auto;
    }
    
}

@media (max-width: 450px) {
    .createUploadContainer{
        width: 98%;
    }

    .audioPlayer{
        width: 100%;
        margin: auto;
    }

    .createUploadContainerInputCategory label {
        margin: 0px 2.5px; 
    }
    
    .createUploadContainerInputImage{
        width: 100%;
        height: 100%;
    }

    .createUploadContainerInputImage img{
        width: 100%;
        height: 100%;
    }

    .placeholderImage { 
        width: 100%;
        height: 100%;
    }

    .royaltySplitRow{
        flex-direction: column;
        align-items: start;
    }

    .royaltySplitRow span{
        width: 100%;
        justify-content: left;
        margin-top: 5px;
    }

    
    .lyricsPreview {
        font-size: 12px; 
        height: 150px;  
    }

}

@keyframes popIn90 {
    90% {
      transform: scale(0.95);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}

/* ChainSelect.module.css */
.select {
    appearance: none;
    background-color: #252525;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    border: none;
    border-radius: 5px;
    padding: 7.5px 10px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    width: auto;
    min-width: 100px;
    transition: background-color 0.2s ease;
    margin-left: 10px;
}

.select:hover {
    background-color: #252525;
}

.select:focus {
    background-color: #252525;
}

.select option {
    background-color: #151515;
    color: white;
    padding: 10px;
    font-weight: 600;
}

/* For Firefox */
.select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 white;
}

/* For IE/Edge */
.select::-ms-expand {
    display: none;
}